/* CSS Document */

/* BODY */

body {
	margin: 0;
	background-color: #cbc8ce;
	font-family: Arkitech;
}

body p {
	padding: 0 20px 0 20px;
}

/* BANNER */

.banner-home {
	background-image: url("../IMG/cassete tape rybs.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
}

/* NAV */

nav ul li a {
	text-decoration: none;
	color: black;
	background-color: #F1ECEC;
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
}

nav ul li a:hover {
	background-color: #5E8FC3;
	color: white;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

/* ARICLES */

.image-one {
	text-align: center;
	padding: 0 20px;
}

.art-one {
	background-color: aliceblue;
}

.article-one-img {
	width: 100%;
	height: 650px;
	background-image: url("../IMG/black-and-white-music-headphones-life-3104.jpg");
	background-size: cover;
}
.art-one p {
	text-align: center;
	padding: 0 20px 0 20px;
}

.art-two, .art-three {
	text-align: center;
}

.article-two-img {
	height: 555px;
	width: 75%;
	margin: auto;
	background-image: url("../IMG/macro-photo-of-piano-keys-191240-small.jpg");
	background-position: center;
}

.article-three-img {
	background-image: url("../IMG/brown-and-black-cut-away-acoustic-guitar-1010519 -small.jpg");
	height: 555px;
	width: 75%;
	margin: auto;
	background-position: center;
}

/* FOOTER */

footer {
	margin-top: 100px;
	padding-top: 100px;
	background-image: url("../IMG/black-record-vinyl-167092.jpg");
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}


/* MEDIA QUERIES */

@media screen and (min-width:500px) {
	nav ul {
		text-align: center;
		display:flex;
	}
	nav ul li {
		flex: 1;
		margin: 5px;
	}
	.feature-images {
		display: flex;
	}
	.image-one {
		flex: 1;
	}
	.art-one {
		display: flex;
		padding: 0;
	}
	.article-one-img {
		flex: 1;
		height: auto;
	}
	.art-text{
		flex: 1;
	}
	.article-bottom {
		display: flex;
		flex: 1;
	}
	.article-two-img, .article-three-img {
		width: auto;
		margin: 10px;
	}
}